PUERTO_ESCUCHA= 9001

IP_PLACA= 127.0.0.1
PUERTO_PLACA= 9000

IP_STORAGE= 127.0.0.1
PUERTO_STORAGE= 9003

LOG_LEVEL= INFO
ALGORITMO_PLANIFICACION= HRRN
RR_QUANTUM= 1500
ESTIMACION_INICIAL= 10000
HRRN_ALFA= 0.5
GRADO_MULTIPROGRAMACION= 4
PATH_DATOS= /home/utnso/datos/
RETARDO_LOADER= 500
PATH_REPORTES= /home/utnso/reportes.log